# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**:


-Jupyter Notebooks are used in Data Science for recording experiments and projects.

-Python,R and SQL are one of the popular language used in Data Science.

-Libraries used by data scientists includes;Panda,Numpy,Keras,PyTorch,Seaborn

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
    
    -Panda
    -NumPy
    -Seaborn

| Data Science Tools |
|------------|
| Python     |     
|            |
| R          |            
|            |
| Weka       |

### Below are a few examples of evaluating arithmetic expressions in Python

(5+3)Ã—2

In [5]:
(3*4)+5

#This a simple arithmetic expression to mutiply then add integers.

17

In [6]:
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)

# This will convert 200 minutes to hours by diving by 60

Enter time in minutes200
Hours= 3

## Author

Makda Tesfaye